<div class="scroll" style="--time:30s">
    <div>

        @for ( skillFirstRow of skillFirstRows; track $index ) {
        <span>{{ skillFirstRow }}</span>
        }

    </div>
    <div>
        @for ( singleitem of skillFirstRows; track $index ) {
        <span>{{ singleitem }}</span>
        }
    </div>
</div>
<div class="scroll" style="--time:40s">
    <div>
        @for ( secondsingleitem of skillSecondRows; track $index ) {
        <span>{{ secondsingleitem }}</span>
        }
    </div>
    <div>
        @for ( secondsingleitem of skillSecondRows; track $index ) {
        <span>{{ secondsingleitem }}</span>
        }
    </div>
</div>
<div class="scroll" style="--time:40s">
    <div>
        @for ( thirdsingleitem of skillThirdRows; track $index ) {
        <span>{{ thirdsingleitem }}</span>
        }
    </div>
    <div>
        @for ( thirdsingleitem of skillThirdRows; track $index ) {
        <span>{{ thirdsingleitem }}</span>
        }
    </div>
</div>
<div class="scroll" style="--time:25s">
    <div>
        @for ( fourthsingleitem of skillFourthRows; track $index ) {
        <span>{{ fourthsingleitem }}</span>
        }
    </div>
    <div>
        @for ( fourthsingleitem of skillFourthRows; track $index ) {
        <span>{{ fourthsingleitem }}</span>
        }
    </div>
</div>